@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");

.App-header {
  color: black;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-header h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  text-align: center;
}

@media (max-width: 300px) {
  .App-header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .header-inputs {
    display: flex;
    flex-direction: column;
  }
  #header-btn {
    margin: 0.5rem 0 0 0 !important;
  }
}
